@charset "UTF-8";

.search {
	right: 30px;
	top: 50px;
	position: absolute;
}

.button {
	right: 5px;
	top: 50px;
	position: absolute;
	background-color: white;
	width: 25px;
	height: 25px;
	text-align: center;
	border: none;
}